/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


h1{
    font-size: 50px;
    /* border: solid black 2px; */
    margin: 20px;
    padding: 20px 20px;
}

h2 {
    font-size: 30px;
    padding: 10px 0;
    margin: 10px 0;
}

p {
    margin-top: 20px;
    font-size: 25px;
}

a {
    font-size: 20px;
}



header section {
    background-color: orangered;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}


nav {
    margin-left: 45px;
    margin-bottom: 45px;
    padding: 20px;
}

header nav a {
    border: Blue 2px solid;
    width: 100px;
    height: 400;
    padding: 5px 25px;
    display: inline-block;
    color: white;
    text-align: center;
    background: black;
}

header nav a:hover {
    color: black;
    background: white;
}

section a {
    border: Blue 2px solid;
    width: 100px;
    height: 400;
    padding: 5px 25px;
    text-align: center;
}


.section-middle {
    display: flex;
    flex-direction: row;
}

.div-flex {
    /* margin: 5%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

footer {
    background-color: aqua;
    height: auto;
    width: auto;  
    padding-bottom: 5%;  
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

footer a {
    justify-content: center;
    align-items: center;
}

#main-photo {
    margin: 2%;
    height: auto;
    width: 50vw; 
}

.wrapper {
    margin: 2%;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 25px;
  }
/* iphone */
  @media screen and ( max-width: 360px ) {
    
    header section {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

     .section-middle {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        color: red;
        width: auto;
        align-content: center;
    }


    .wrapper {
        flex-direction: column;
        grid-template-columns: auto;
        
    } 

    p{
        font-size: 80%;
        text-align: left;
        padding: 5%;
    }

    body {
        width: auto;
    }
}

    


/* laptop */
  @media screen and ( max-width: 1366px ) {
    
    .section-middle {
        display: flex;
        align-content: space-between;
        justify-content: space-evenly;
        color: red;
        width: auto;
        align-content: center;
    }

    .section-middle {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        color: red;
        width: auto;
    }

    p {
        text-align: center;
    }

    
}

/* widescreen */
@media screen and ( max-width: 1920px ) {
    
    .section-middle {
        display: flex;
        align-content: space-between;
        justify-content: space-evenly;
        color: red;
        width: auto;
        align-content: center;
    }

    .section-middle {
        display: flex;
        align-content: center;
        justify-content: space-evenly;
        color: red;
        width: auto;
    }

    p {
        text-align: center;
    }

    
}
/* @media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  } */